<h1>Edit Picture # <%= @pic_id %></h1>

<form action="#" method="get">
  Image URL: <input type="text" name="source" value="Original source">
  Caption: <input type="text" name="caption" value="Original caption">
  Favorite? <input type="checkbox" name="favorite" value="true">
  <input type="submit" name="submit">
</form>
