<h1>List of Pictures</h1>

<ul>
  <% @pictures.each do |pic| %>
    <li>
      <img width="200" src="<%= pic.source %>">
      <p><a href="http://localhost:3000/pictures/<%= pic.id %>"><%= pic.caption %></a></p>
    </li>
  <% end %>
</ul>
