<h1>Add A New Picture</h1>

<%= link_to "Back", "/pictures" %>

<%= form_tag "/pictures" do %>
  Image URL: <input type="text" name="source">
  Caption: <input type="text" name="caption">
  Favorite? <input type="checkbox" name="favorite">
  <input type="submit" name="submit">
<% end %>
