<h1>Add A New Picture</h1>

<form action="/add_to_pictures" method="get">
  <input type="text" name="source">
  <input type="text" name="caption">
  <input type="checkbox" name="favorite">
  <input type="submit" name="submit">
</form>
